@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

a {
  text-decoration: none;
  color: #666;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

body {
  display: flex;
  flex-direction: column;

  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.left-links {
  display: flex;
  gap: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.right-links {
  display: flex;
  gap: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 16px; */
  padding: 16px;
  margin: 0;
  background-color: #eeeeee;
  /* es el mismo color que la barra de abajo de xubuntu y parece que no esta centrado, pero si */
}
.left-links,
.right-links {
  padding: 8px;
}

.content {
  padding: 8px;
  display: flex;
  /* align-content: center; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  margin: 8px;
}
